{% extends 'base.html.twig' %}

{% block title %}Wish List{% endblock %}

{% block body %}
<h1>All wishes</h1>

<div class="list-group">
    {% for wish in wishes %}
        <a href="{{ path('wish_show', {'id': wish.id}) }}" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
           title="Détail du voeu">
           
           <span>{{ wish.title }}</span>
           <span class="badge bg-secondary">{{ wish.category.name }}</span>
        </a>
    {% endfor %}
</div>

{% endblock %}
